#root {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}

.logo {
  height: 5em;
  padding: 0.1rem 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.text-iron {
  color: #0a035a;
}
.travel-list {
  display: flex;
  flex-direction: column; /* Stack cards vertically */
  gap: 20px;
  align-items: center; /* Center the cards horizontally */
}

.travel-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.card-image img {
  padding-top: 40px;
  width: 200px; 
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  font-size: 1.2em;
  margin: 0 0 10px;
}

.card-content p {
  margin: 5px 0;
}

